# this comment is useless
# the main config file contains API keys
# and should stay off github
config.py
config.py~

# old config file
# config.ini

# compiled Python binaries
*.pyc
*.pyo

# database files will be huge, ignore them
*.db

# the setup script creates a virtual environment
# don't upload the environment to github
ccop_env/*

# swap files
*.swp
