<!--Global variable for root of the applicaiton-->
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<!--Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!--Font-Awsome-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!--Custom-->
<link rel="stylesheet" href="/static/css/styles.css">

<!--Google Charts JS-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

