<!--JQuery JS-->
<script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
    crossorigin="anonymous"></script>

<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/r-2.1.1/sc-1.4.2/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/r-2.1.1/sc-1.4.2/datatables.min.js"></script>

<!--Bootstrap JS-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--Google Charts JS-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!--Global Variables-->
<script type="text/javascript">
    // global variables used across files
    window.map;
    window.minDate;
    window.maxDate;
    window.crimeJSON;
    window.arrestJSON;
    window.mapMarkers = [];
    window.isDragging = false;  // diable map updates while user is dragging the map
</script>

<!--Custom JS-->
<script src="/static/js/Chart.js"></script>
<script src="/static/js/Map.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/Table.js"></script>
<script src="/static/js/filtermenu.js"></script>

<!--Google maps JS-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6IOrmkUCZENIZkJiDRU-oyZBzn12zpWk&callback=initMap"></script>
