<!--JQuery JS-->
<script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
    crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">


<!--Bootstrap JS-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--Google Charts JS-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<!--Custom JS-->
<script src="/static/js/Chart.js"></script>
<script src="/static/js/Map.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/Table.js"></script>
<script src="/static/js/filtermenu.js"></script>

<!--Google maps JS-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6IOrmkUCZENIZkJiDRU-oyZBzn12zpWk&callback=initMap"></script>
